body {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  line-height: 30px;
  margin-top: 50px;
  margin-left: 70px;
}

h1 {
  font-family: 'Martel', serif;
  line-height: 50px;
  color: #ff4081;
  letter-spacing: 4px;
}

h2 {
  line-height: 40px;
  font-family: 'Martel', serif;
  color: #ff4081;
}

p {
  padding-bottom: 15px;
}

.sidebar {
  /* display: inline-block; */
  float: left;
  position: fixed;
  width: 25%;
}

.content {
  padding-left: 500px;
  width: 50%;
  /* display: inline-block; */
  float: left;
}

.week1_ps {
  margin-top: 20px;
  /* border: 1px solid red; */
}
